body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #55585a;
    font-family: 'Cinzel', serif;
  }

  .main-menu a {
    color: inherit;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    line-height: normal;
    text-decoration: none; /* no underline */
  }

  .main-menu-nav .nav-item{
    padding-left: 12px;
    padding-right: 12px;
    text-transform: uppercase;
    text-align: center;
  }

  .main-menu-nav .nav-item-sign-in {
    border: 1px solid #BD996C;
    color: #BD996C;
    cursor: pointer;
  }
  
  .main-menu .navbar-toggler-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgAQMAAADYVuV7AAAABlBMVEUAAAAzMzPI8eYgAAAAAXRSTlMAQObYZgAAABxJREFUeAFjIBOMAv7/UPCBlhzywWgYjIbBKAAANijXKaI5RRgAAAAASUVORK5CYII=)
  }

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');